In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('PM_train.txt', sep=" ", header=None)
train.shape
### 20631 linhas com 28 colunas -- Vemos aqui um pequeno problema, na nossa referência temos apenas 26 colunas

(20631, 28)

In [3]:
## Foram carregadas ao final do dataset 2 colunas nulas que precisamos remover [26,27]
print(train.head(5))
train = train.drop([26,27], axis=1)

   0   1       2       3      4       5       6        7        8      9   \
0   1   1 -0.0007 -0.0004  100.0  518.67  641.82  1589.70  1400.60  14.62
1   1   2  0.0019 -0.0003  100.0  518.67  642.15  1591.82  1403.14  14.62
2   1   3 -0.0043  0.0003  100.0  518.67  642.35  1587.99  1404.20  14.62
3   1   4  0.0007  0.0000  100.0  518.67  642.35  1582.79  1401.87  14.62
4   1   5 -0.0019 -0.0002  100.0  518.67  642.37  1582.85  1406.22  14.62

   ...       18      19    20   21    22     23     24       25  26  27
0  ...  8138.62  8.4195  0.03  392  2388  100.0  39.06  23.4190 NaN NaN
1  ...  8131.49  8.4318  0.03  392  2388  100.0  39.00  23.4236 NaN NaN
2  ...  8133.23  8.4178  0.03  390  2388  100.0  38.95  23.3442 NaN NaN
3  ...  8133.83  8.3682  0.03  392  2388  100.0  38.88  23.3739 NaN NaN
4  ...  8133.80  8.4294  0.03  393  2388  100.0  38.90  23.4044 NaN NaN

[5 rows x 28 columns]

In [4]:
# Aqui vamos criar os nomes das colunas
tags = []

for i in range(1,22) :
    tags.append("tag"+str(i))

nomes_colunas = ["asset_id","runtime","set1","set2","set3"] + tags
print(nomes_colunas)
print(len(nomes_colunas))

['asset_id', 'runtime', 'set1', 'set2', 'set3', 'tag1', 'tag2', 'tag3', 'tag4', 'tag5', 'tag6', 'tag7', 'tag8', 'tag9', 'tag10', 'tag11', 'tag12', 'tag13', 'tag14', 'tag15', 'tag16', 'tag17', 'tag18', 'tag19', 'tag20', 'tag21']
26

In [5]:
# Criando um dict com nomes antigos como chave e novos nomes como valor.
novas_colunas = dict(zip(train.columns, nomes_colunas))
print(novas_colunas)

{0: 'asset_id', 1: 'runtime', 2: 'set1', 3: 'set2', 4: 'set3', 5: 'tag1', 6: 'tag2', 7: 'tag3', 8: 'tag4', 9: 'tag5', 10: 'tag6', 11: 'tag7', 12: 'tag8', 13: 'tag9', 14: 'tag10', 15: 'tag11', 16: 'tag12', 17: 'tag13', 18: 'tag14', 19: 'tag15', 20: 'tag16', 21: 'tag17', 22: 'tag18', 23: 'tag19', 24: 'tag20', 25: 'tag21'}

In [6]:
## Aqui renomeamosas colunas e estamos prontos para explorar os dados
train = train.rename(columns=novas_colunas)
train.head(5)

,asset_id,runtime,set1,set2,set3,tag1,tag2,tag3,tag4,tag5,...,tag12,tag13,tag14,tag15,tag16,tag17,tag18,tag19,tag20,tag21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044